{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Bienvenido al proyecto de formularios Symfony</h1>
    <p>
        Consulta con el profesor las acciones que debes realizar en el proyecto.
    </p>
{% endblock %}
